html {
  height: 100%;
  width: 100%;
}
body {
  background-color: white;
}
#title {
  position: absolute;
  text-align: left;
  color: black;
  font-family: 'Borel', cursive;
  margin-left: 4%;
  margin-top: 9px;

}
#searchbar{
  padding: 13px 30px;
  border-radius: 20px;
  width:60%;
  margin-left: 20%;
  margin-top: 9px;
  text-decoration: none;
}
.product-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
}
.product {
  text-align: center;
  width: 200px;
  margin-bottom: 30px;
}
.product img {
  width: 100%;
  height: auto;
}
.button {
  transition: 0.3s;
  font-family: 'Work Sans', sans-serif;
  background: #E31445;
  padding: 13px 30px;
  border-radius: 30px;
  color: white;
  float: right;
  margin-top: 9px;
  text-decoration: none;
}
.button:hover {
  transition: 0.3s;
  background: black;
  transform: scale(1.1);
}

#store-image-box {
  width: 290px;
  height: 190px;
  background-size: cover;
  border-radius: 15px;
}

#store-box-title {
  position: absolute;
  font-family: sans-serif;
  margin-top: 12px;
  margin-left: 5px;
  color: black;
  font-size: 19px;
  font-weight: 200;
}

#store-box-circle {
  position: absolute;
  height: 25px;
  width: 26px;
  border-radius: 30px;
  background-color: #00000015; /*#rrggbbaa*/
  margin-top: 12px;
  margin-left: 260px;
}

#store-box-price {
  position: absolute;
  font-family: sans-serif;
  color: black;
  font-size: 11px;
  font-weight: 100;
  margin-left: 5px;
  margin-top: 6px;
}

h1 {
  position: absolute;
  transform: translateX(-59px);
}

.grid-container{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: transparent;
  margin-top: 0px;
  width: 100ch;
  height: 100%;
  padding-top: 0px;
  padding-left: 4px;
}

.grid-item {
  padding: 40px 13px;
  display: block;
  border : transparent;
  background-color: transparent;
}

.pic{
  width:225px;
  height:225px;
  border-radius: 10px;
}