<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="preconnect" href="https://fonts.googleapis.com" href="{{ url_for('static', filename='basket.css')}}">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Borel&display=swap" rel="stylesheet" href="{{ url_for('static', filename='basket.css')}}">
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet" href="{{ url_for('static', filename='basket.css')}}">
  <title>Checkout</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='basket.css')}}">
</head>

<body>
    <body>
      <div class="basket">
        <h1>Checkout</h1>
        {% block contet %}
        {% if not basket_cart_data %}
          <p>Your basket is empty.</p>
          {% else %}
            {% for item in basket_cart_data %}
              
              <!-- Item 1 -->
              <div class="basket-item">
                <span class="item-name">{{item['item_name']}}</span>
                <span class="item-price">{{item['item_price']}}</span>
              </div>
          
              {% endfor %}
              
              <!-- Total -->
              <div class="total">
                <span>Items Total:</span>
                <span class="total-price">{{item_price}}</span>
              </div>

              <div class="total">
                <span>Tip:</span>
                <span class="total-price">{{tip}}</span>
              </div>

              <div class="total">
                <span>Total:</span>
                <span class="total-price">{{total_price}}</span>
              </div>

            <button class="checkout-button">Pay Now</button>
          
              <!-- Checkout Button -->
            {% endif %}
            {% endblock %}
        </div>
</body>

</html>