<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Borel&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
        <title>QUICKMUNCH Store</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='frontpage.css')}}">
    </head>
    <body>
        <div class="navbar">
            <h1 id="title">Quickmunch</h1>
            <input type="search" id="searchbar" name="user input" placeholder="search for the restaurants here ">
            <a style="margin-right: 20px; text-decoration: none;" class="button" id="login" href="basket.html">basket 🛒 </a><br><br><br>
        </div>
          <div class="grid-container">
            <div id="store-box" >
                <div id="store-image-box">
                <h2 id="store-box-title">Chicken 'N Chips</h2>

                <div id="store-box-circle">
                    <h3 id="store-box-price">4.5</h3>
                </div>
            </div>
            <div id="store-box" >
                <div id="store-image-box">
                <h2 id="store-box-title">Chicken 'N Chips</h2>

                <div id="store-box-circle">
                    <h3 id="store-box-price">4.5</h3>
                </div>
            </div>
          </div>
    </body>
</html>