<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Borel&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
  <title>menu</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='menu.css')}}">
</head>
<body>
  <h1 id="n">{{ restaurant }}
  <p class="rating">4.7<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-star star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"/></svg></p>
  </h1>
  <div class="grid-container">
  {% block contet %}
  {% for item in restaurant_menu %}
    <div class="grid-item">
      <div>
        <img class="pic" src="{{url_for('static', filename=item[3])}}">
      </div>
      <div>
        <span class="line-break1">{{ item[0] }}</span>
        <br>
        <span class="line-break2">{{ item[1] }}</span>
        <br>
        <span class="line-break3">£{{ item[2] }}</span>
      </div>
      <div>
        <button id="addToBasket">Add to Basket</button>
      </div>
    </div>  
  {% endfor %}
  {% endblock %}
  </div>
</body>
</html>